section {
    & .list {
        & .item {            
            transform: translateX(100vw);
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & .car-model {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }
            & .content {
                & .car-info, .car-name, .lorem, .know-more {
                    transform: translateX(200px);
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }
                
                & .car-name {
                    transition-delay: 0.5s;
                }

                & .lorem {
                    transition-delay: 0.7s;
                }

                & .know-more {
                    transition-delay: 0.9s;
                }
            }
        }

        .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-img {
                & .car-model {
                    transform: rotate(-25deg);
                }
            }

            & .content {
                & .car-info, .car-name, .lorem, .know-more {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}